/*@font-face {
	font-family: HeroesLegend;
	src: url("../fonts/Heroes Legend.ttf");
}
*/

@keyframes close_info_anim {
	from {top: -100px;}
	to {top: 0px;}
}

html {
	scroll-behavior: smooth !important;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FAE7EA !important;
}

body .fill-height {
  height: 100vh;
}

body > .container-fluid {
	padding: 0px;
}

body > .container-fluid > .row {
	margin-right: initial;
}

body > .container-fluid > .row > .col-12 {
	padding-right: initial;
}

.navbar li {
	text-align: center;
}

.cat_body > div {
	margin: 10px 0px;
}

.cat_body img:hover {
	box-shadow: 0px 0px 25px grey;
}


/* Style the Image Used to Trigger the Modal */
.cat_body img {
	cursor: pointer;
	transition: 0.3s;
}

/* The Modal (background) */
.modal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 25px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.close_info {
	margin: auto;
	display: block;
	text-align: center;
	margin-bottom: 50px;
	position: relative;
}

.close_info > span {
	color: white;
	background-color: rgba(242, 242, 242, 0.2);
	padding: 10px;
	border: 2px solid #cccccc;
}

/* Modal Content (Image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 500px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

.gotopbtn {
	position: fixed;
	width: 50px;
	height: 50px;
	background-color: #2980b9;
	bottom: 40px;
	right: 50px;


	border-radius: 50%;
	text-align: center;
	text-decoration: none;
	color: #ecf0f1;
	line-height: 50px;
	font-size: 22px;
}

.gotopbtn:hover {
	text-decoration: none;
	color: #ecf0f1;
	box-shadow: 0px 0px 5px #123a54;
}