@font-face
{
	font-family: HeroesLegend;
	src: url("../fonts/Heroes Legend.ttf");
}

body
{
	background-color: #FAE7EA !important; /* light-gray */
	animation-duration: 4s;
}

body .fill-height
{
  height: 100vh;
}

body > .container-fluid
{
	padding: 0px;
}

.navbar li
{
	text-align: center;
}

/* Catégories */

.cat_body > div
{
	margin: 10px 0px;
}

.cat_body img:hover
{
	box-shadow: 0px 0px 25px grey;
}